---
import { SITE } from "src/config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Search from "@components/Search";
import type { Frontmatter } from "src/types";

// Retrieve all articles
const posts = await Astro.glob<Frontmatter>("../contents/**/*.md");

// List of items to search in
const searchList = posts
  .filter(({ frontmatter }) => !frontmatter.draft)
  .map(post => ({
    title: post.frontmatter.title,
    description: post.frontmatter.description,
    headings: post.getHeadings().map(h => h.text),
    frontmatter: post.frontmatter,
  }));
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
  <script type="text/javascript">
    algoliasearchNetlify({
      appId: 'R9WT62UJ2P',
      apiKey: '11fa278a9a991752cc250fb46627f2f4',
      siteId: '3539f5df-29b9-4346-8c88-68e06b1df03b',
      branch: 'main',
      selector: 'div#search',
    });
  </script>
  <Main pageTitle="Search" pageDesc="Search any article ...">
    <div id="search"></div>
  </Main>
  <Footer />
</Layout>
